---
import Layout from "@layouts/Layout.astro";
---

<Layout title="关于">
  <main class="mx-auto w-full max-w-xl lg:max-w-3xl 2xl:max-w-4xl">
    <article>
      <div class="text-center font-serif text-[2rem] font-bold">关于</div>

      <p class="font-thin">建设中……</p>
      <p class="font-light">建设中……</p>
      <p class="">建设中……</p>
      <p class="font-medium">建设中……</p>
      <p class="font-bold">建设中……</p>
      <p class="font-black">建设中……</p>

      <!-- <div class="mt-16" th:if="${haloCommentEnabled}"> -->
      <!--   <halo:comment -->
      <!--     group="content.halo.run" -->
      <!--     kind="Post" -->
      <!--     th:attr="name=${singlePage.metadata.name}" -->
      <!--   /> -->
      <!-- </div> -->
    </article>
  </main>
</Layout>
