---
import Layout from "@layouts/Layout.astro";
import { themeConfig } from "@config";
import Comment from "@components/Comment.astro";
---

<Layout title="关于" headerPage="关于">
  <main class="mx-auto w-full max-w-xl lg:max-w-3xl 2xl:max-w-4xl">
    <article>
      <div class="text-center font-serif text-[2rem] font-bold">关于</div>

      <p class="font-thin">建设中……</p>
      <p class="font-light">建设中……</p>
      <p class="">建设中……</p>
      <p class="font-medium">建设中……</p>
      <p class="font-bold">建设中……</p>
      <p class="font-black">建设中……</p>
    </article>

    {
      themeConfig.comment.enabled && themeConfig.comment.artalk.enabled && (
        <Comment />
      )
    }
  </main>
</Layout>
